hidden.env
.terraform
*.tfstage
*.tfstage.backup
*.lock.hcl

cdn-s3/envs/dev/terraform.tfstate
cdn-s3/envs/dev/terraform.tfstate.backup
cognito/envs/dev/terraform.tfstate
cognito/envs/dev/terraform.tfstate.backup
ec2/envs/dev/terraform.tfstate
ec2/envs/dev/terraform.tfstate.backup
rds/envs/dev/terraform.tfstate.backup
rds/envs/dev/terraform.tfstate
base/envs/dev/terraform.tfstate.backup
api-ecs/envs/dev/lambda-diglee.zip
api-ecs/envs/dev/terraform.tfstate
api-ecs/envs/dev/terraform.tfstate.backup
base/envs/dev/terraform.tfstate

ec2/envs/dev/.terraform.lock.hcl
rds/envs/dev/.terraform.lock.hcl
cognito/envs/dev/.terraform.lock.hcl
cdn-s3/envs/dev/.terraform.lock.hcl
base/envs/dev/.terraform.lock.hcl
base/.terraform.lock.hcl
api-ecs/envs/dev/.terraform.lock.hcl
base/terraform.tfstate.backup
